.right{
    width: 285px;
    min-height: 0px;
    margin: 0 0 5px 0px;
    overflow: hidden;
}

.ModPrays h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ModPrays ul li {
    list-style: none;
    margin-bottom: 5px;
    background: #f4f4f2;
    padding: 0 10px;
}

.ModPrays li:hover {
    background: #ebe4e6;
    color: white;
}

.ModPrays ul li p {
    color: #2a2a2a;
    font-size: 12px;
    padding-top: 5px;
    margin: 0 0 0 0;
}

.ModPrays .bottom {
    text-align: right;
    padding-top: 0px;
}

.ModPrays .bottom a {
    /* color: #b80000; */
    text-decoration: none;
    font-size: 12px;
}

.ModPrays .bottom span {
    /*margin-left: 10px;*/
    display: inline-block;
    padding: 5px 10px;
    background: #b80000;
    color: #fff;
    font-size: 13px;
    position: relative;
    left: 9px;
}

.ModPrays .bottom .publishPray{
    background:lightgreen;
}
.ModPrays .bottom .deletePray{
    background:#b80000;
}

.ModPrays .bottom  a:hover
{
    text-decoration:underline;
}

.ModPrays .bottom  .deletePray:hover
{
    cursor: pointer;
    color: #b80000;
    background: #000;
    /*text-decoration:underline;*/
}
.ModPrays .bottom  .publishPray:hover
{
    cursor: pointer;
    color: lightgreen;
    background: #000;
    /*text-decoration:underline;*/
}


ul {
    margin: 0;
    padding: 0;
}

.ModPrays table {
    width: 100%;
}
.ModPrays table tr .left {
    text-align: left;
    padding-left: 5px;
}
.ModPrays table tr td a {
    font-size: 14px;
    /* color: #b80000; */
    text-decoration: underline;
}

.ModPrays table tr .right {
    text-align: right;
}



.ModPrays .prayText {
    margin: 20px 0 10px;
    display: none;
}

.pray-req-ctrl {
    height: 25px;
    text-align: center;
}
.pray-req-buttons {
    display: inline;
}

#prayFrom .pray-req-buttons #cancel {
    margin-left: 10px;
}
#prayFrom .pray-req-buttons input {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 20px;
    background: #262626;
    position: relative;
        float: right;
    right: 0px;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}
.add-pray{
    float: left;
}


.btnprey{
     display: inline-block;
     padding: 4px 14px;
     margin-bottom: 0;
     font-size: 14px;
     line-height: 20px;
     background-color: #6495ed;
    color: white;
    margin-top: 10px;
 }
 .cancel{
    background-color: #eb1e00;
}


.ModPrays .alertPray{
    padding: 8px 35px 8px 14px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alertErrorPray {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alertSuccessPray {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.ModPrays .alertPray .closePray {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.ModPrays button.closePray {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.ModPrays .closePray {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.ModPrays .alertPray h5 {
    margin: 0;
    font-size: 17.5px;
    font-weight: bold;
}

.ModPrays .pagination .activePage{
    background-color: #F4F4F2;
}

.ModPrays .pagination a{
    padding: 5px 10px;
 }